<h1>
  <%= @task.title %>
</h1>
<div>
  <%= @task.details %>
</div>
<p>
  <input type="checkbox" <%= @task.completed ? "checked" : false %>> <%= @task.completed ? "This task is completed" : "This task is not completed yet" %>
</p>

<%= link_to "Home", tasks_path %>
<%= link_to "Delete", task_path(@task.id), method: :delete %>
<%= link_to "Edit", edit_task_path(@task.id) %>
